---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  apache2:
    image: httpd:2.4
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/apache2/root/:/usr/local/apache2/htdocs/"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.apache2.loadbalancer.server.scheme=http"
      - "traefik.http.services.apache2.loadbalancer.server.port=80"
      - "traefik.http.routers.apache2-http.rule=Host(`{% if apache2.domain %}{{ apache2.domain }}{% else %}{{ apache2.subdomain + "." + domain }}{% endif %}`)"
      - "traefik.http.routers.apache2-http.entrypoints=http"
{% if not apache2.https_only %}
      - "traefik.http.routers.apache2-http.middlewares={% if apache2.https_only %}redirect@file, {% else %}{% if apache2.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.apache2-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.apache2.rule=Host(`{% if apache2.domain %}{{ apache2.domain }}{% else %}{{ apache2.subdomain + "." + domain }}{% endif %}`)"
      - "traefik.http.routers.apache2.entrypoints=https"
      - "traefik.http.routers.apache2.middlewares={% if apache2.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.apache2.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.apache2.tls.certresolver=dns"
      - "traefik.http.routers.apache2.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.apache2.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.apache2.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.apache2-tor-http.rule=Host(`{{ apache2.subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.apache2-tor-http.entrypoints=http"
      - "traefik.http.routers.apache2-tor-http.middlewares={% if apache2.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
