---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  codeserver:
    image: codercom/code-server
    environment:
      - PASSWORD={{ default_password }}
    volumes:
      - "{{ volumes_root }}/codeserver/.local:/home/coder/.local"
      - "{{ volumes_root }}/codeserver/project:/home/coder/project"
    command: ['--auth', 'password', '--disable-telemetry']
    restart: unless-stopped
    networks:
      - traefik_network
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.codeserver.loadbalancer.server.scheme=http"
      - "traefik.http.routers.codeserver-http.rule=Host(`{% if codeserver.domain %}{{ codeserver.domain }}{% else %}{{ codeserver.subdomain + "." + domain }}{% endif %}`)"
      - "traefik.http.routers.codeserver-http.entrypoints=http"
{% if not codeserver.https_only %}
      - "traefik.http.routers.codeserver-http.middlewares={% if codeserver.https_only %}redirect@file, {% else %}{% if codeserver.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.codeserver-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.codeserver.rule=Host(`{% if codeserver.domain %}{{ codeserver.domain }}{% else %}{{ codeserver.subdomain + "." + domain }}{% endif %}`)"
      - "traefik.http.routers.codeserver.entrypoints=https"
      - "traefik.http.routers.codeserver.middlewares={% if codeserver.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.codeserver.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.codeserver.tls.certresolver=dns"
      - "traefik.http.routers.codeserver.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.codeserver.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.codeserver.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.codeserver-tor-http.rule=Host(`{{ codeserver.subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.codeserver-tor-http.entrypoints=http"
      - "traefik.http.routers.codeserver-tor-http.middlewares={% if codeserver.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
