---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Bandwidth Usage Logger
  xfinityusageinfluxdb:
    restart: unless-stopped
    image: nickbusey/xfinityusageinfluxdb
    networks:
      - traefik_network
    environment:
      - XFINITY_USER={{ xfinity_user }}
      - XFINITY_PASSWORD={{ xfinity_password }}
      - INFLUXDB_HOST=influxdb
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.xfinityusageinfluxdb.loadbalancer.server.scheme=http"
      - "traefik.http.services.xfinityusageinfluxdb.loadbalancer.server.port=0"
      - "traefik.http.routers.xfinityusageinfluxdb-http.rule=Host(`{% if xfinityusageinfluxdb.domain %}{{ xfinityusageinfluxdb.domain }}{% else %}{{ xfinityusageinfluxdb.subdomain + "." + domain }}{% endif %}`)"
      - "traefik.http.routers.xfinityusageinfluxdb-http.entrypoints=http"
{% if not xfinityusageinfluxdb.https_only %}
      - "traefik.http.routers.xfinityusageinfluxdb-http.middlewares={% if xfinityusageinfluxdb.https_only %}redirect@file, {% else %}{% if xfinityusageinfluxdb.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.xfinityusageinfluxdb-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.xfinityusageinfluxdb.rule=Host(`{% if xfinityusageinfluxdb.domain %}{{ xfinityusageinfluxdb.domain }}{% else %}{{ xfinityusageinfluxdb.subdomain + "." + domain }}{% endif %}`)"
      - "traefik.http.routers.xfinityusageinfluxdb.entrypoints=https"
      - "traefik.http.routers.xfinityusageinfluxdb.middlewares={% if xfinityusageinfluxdb.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.xfinityusageinfluxdb.tls=true"
